
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.prev-battle
{
  white-space: nowrap;
  overflow-x: scroll;
}

.competition
{
  display: block;
}

.round
{
  display: inline-block;
}

.pick > .won
{
  color: green;
}